.pageContainer {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 'header' ' . ' ' . ';
}
